{% extends 'base.html' %}

{% block content %}
<h2 class="block">{% block title %}Log In{% endblock %}</h2>
    <form method="post">
        <small class="timer-entry">Username</small>
        <input name="username" id="username" required>
        <small class="timer-entry">Password</small>
        <input type="password" name="password" id="password" required>
        <center>
        <input class="btn btn-dark btn-lg entry-btn" type="submit" value="Log In">
        </center>
    </form>
{% endblock %}