{% extends 'base.html' %}

{%block content %}
<br>
<div class="table-frame">
<table id='time_block_table' class="table">
    <thead>
        <tr>
            <th>Timer Name</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody id="exercises">
                  {% for timer in timers %}
            <tr>
                <td>

                    <form method="post" action="{{ url_for('entry.load') }}" class="inline">
                        <input type="hidden" name="timer_id" value={{ timer[2] }}>
                        <button type="submit" name="submit_param" value="submit_value" class="entry-btn">
                        {{ timer[0] }}
                        </button>
                      </form>



                </td>
                <td>{{ timer[1].strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}